# You can also set the arguments below using environment variables
# "LAP" is added to the environment variable name as a prefix.
# Environment variables have higher priority than this file.

# Set true if you want to delete all data files and drop database tables before running app
clear: false

db:
  dialect: mysql
  driver: aiomysql
  user: root
  password:
  host: localhost
  dbname: dbname
path:
# to load predefined label data
  label: /path/to/label/directory
# to store the files(csv files containing list of image urls)
# and images(image files downloaded from image urls included in csv files)
  data: /path/to/files_and_images/directory

http:
  host: localhost
  port:

# Enable inference server
inference:
  enabled: false
  host:
  port:
  batch_size: 1